{
	"useTabs": true,
	"trailingComma": "none",
	"printWidth": 250,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
